@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  overflow-x: hidden;
}
.banner-img {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url("./Assets/Hero-bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
 
  padding: 35px 150px;
}

.header h1{
  color: #4E47FF;
  font-family: "Inter", sans-serif;
  font-size: 34px;
  font-weight: 800;
}

.header button {
  padding: 12px 36px;
  border: none;
  border-radius: 5px;
  background-color: #4E47FF;
  color: white;
 font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: normal;
  cursor: pointer;
  outline: none;
  transition:  0.3s ease;
}
.header button:hover {
  background-color: #3a3aff;
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.content h1 {
   font-family: "Raleway", sans-serif;
  font-size: 65px;
  font-weight: bold;
}
.btn{
  padding: 12px 36px;
  border: none;
  border-radius: 5px;
  background-color: #4E47FF;
  color: white;
   font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: normal;
  cursor: pointer;
  outline: none;
  transition: 0.3s ease;
  margin-top: 40px;
  font-weight: 600;
}
.btn button:hover {
  background-color: #3a3aff;
}
/* -------------------header end------------------ */
.container {
  width: 100%;
  height: 100vh;

  
}
.action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 150px;
 margin-top: -62px;
}
.action .left {
  width: 30%;
}
.action .left h2 {
 font-family: "Raleway", sans-serif;
  font-size: 42px;
  font-weight: 800;
}
.action .left p {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 400;
  opacity: 0.5;
  margin-top: 25px;
  color: #252432;
}
.action .left .btn {
  padding: 12px 36px;
  border: none;
  border-radius: 5px;
  background-color: #4E47FF;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  transition: 0.3s ease;
}
.action .left .btn:hover {
  background-color: #3a3aff;
}
.action .right {
  
  display: flex;
  
}
.action .right img {
  width: 403px;
  height: 328px;
  
  border-radius: 20%;
}

/* ------------------------Action section end------------------- */

.productive {
  width: 1140px;
  height: 306px;
  background-color: rgba(78, 71, 255, 0.1);
  align-items: center;
   margin: 0 auto;
   border-radius: 24px;
}

.productive h3 {
  font-family: "Raleway", sans-serif;
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
  padding-top: 50px;
  color: #252432;
}
.production-elements{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 150px;
}

.productive-elements {
  width: 30%;
}
.productive-element h1 {
  font-family: "inter", sans-serif;
  font-size: 80px;
  font-weight: 800;
  text-align: center;
  color: #4E47FF;

} 
.productive-element p {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 400;
  opacity: 0.5;
  text-align: center;
  /* margin-top: 25px; */
  color: #000;
  justify-content: center;
  text-align: center;
}


